---
layout: page
title: "Projects"
permalink: /projects/
description: "This is what interests me."
header-img: "images/projects-bg.jpg"
menu: 3
---

<p>These are the projects I am currently working on. I will be linking blog related articles to my projects, so you will get a nice overview of related posts!</p
<hr>
{% for project in site.projects %}
<div class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
        <h2 class="post-title">
        {{ project.title }}
        </h2>
        {% if project.subtitle %}
        <h3 class="post-subtitle">
            {{ project.subtitle }}
        </h3>
        {% endif %}
    </a>
</div>
<hr>
{% endfor %}
